extends layout

block content
  a(href='/electronics/create') Create a new electronics Object
  h1= "Search Results - electronics"
  -var results = results
         

  div(class= "container-fluid")
    div(class = "row m-1")  
      each item,index in results
        - let update  = `dispatch(\"/electronics/update?id=${item._id}\")`
        - let detail  = `dispatch(\"/electronics/detail?id=${item._id}\")`
        - let del   = `dispatch(\"/electronics/del?id=${item._id}\")`
        div(class= "col-sm-2", onclick=`buy(${index})`)  Name : &nbsp; #{item.electronicsName}  Type : &nbsp; #{item.electronicsType}  Cost :  &nbsp; #{item.electronicCost}
          button.btn( class="btn-primary ml-1", onclick= update) Update
          <br>
          button.btn( class="btn-primary ml-1", onclick= detail) detail
          <br>
          button.btn( class="btn-primary ml-1", onclick= del) delete 

  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }

  script.
    function dispatch(path){
      window.location.href=path
    }