extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to update
  else
    - let electronicsid = toShow._id
    - let electronicsName = toShow.electronicsName
    - let electronicsType = toShow.electronicsType
    - let electronicCost = toShow.electronicCost
 
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{electronicsid}
    - let actionid = "/resource/electronics/" + electronicsid
    form(id='ElectronicsForm', action=actionid, method="PUT")
      div.form-group
        label.electronicAttr(for='electronicsName') Electronics Name
        input#electronicsName(type='text', name='electronicsName', value=electronicsName)
      div.form-group
        label.electronicAttr(for='electronicsType') Electronics  Make
        input#electronicsType(type='text', name='electronicsType', value=electronicsType)
      div.form-group
        label.electronicAttr(for='electronicCost') Electronics  cost
        input#electronicCost(type='number', name='electronicCost', value=electronicCost)
      input(type="submit")

    script.
      document.forms['ElectronicsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });